{% extends "base.html" %}

{% block content %}

    <h2>Blogs Entries</h2>

    {% if blogs|length == 0 %}
    <p>No blog entries yet!<a href="/newpost">Write one!</a></p>

    {% else %}

        {% for blog in blogs %}
            <a href="./blog?id={{blog.id}}">
                <h3>{{blog.title}}</h3>
            </a>
            <p>{{blog.body}}</p>
            <p><strong>Post By: </strong><a href="/blog?userid={{blog.owner_id}}">{{blog.owner.username}}</a></p>
        {% endfor %}   
    {% endif %}
</div>
{% endblock %}
